#construction-con {
	margin: auto;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
	box-sizing: border-box;
	img {
		display: block;
		width: 50%;
		height: 50%;
		margin: auto;
		margin-bottom: 1rem;
	}

	h1 {
		font-size: 1rem;
	}
}
