#navbar {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	max-width: 50%;
	margin: auto;
	color: white;
	font-size: 0.8rem;
	justify-content: space-evenly;
}

#navbar li {
	line-height: 3.14;
}

.black {
	background: black;
	opacity: 0.8;
}
