#navbar {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	color: white;
	font-size: 1.2rem;
	margin: 0;
	width: auto;
	max-width: 90rem;
	margin: auto;

	li {
		line-height: 3.14;
		padding: 0 1.5rem;
		position: relative;
	}

	.submenu {
		ul {
			list-style: none;
			padding: 0;

			li {
				padding-left: 1rem;
				padding-right: 1rem;
			}

			li:hover {
				font-weight: bold;
			}
		}
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 20000;
		color: white;
		text-align: center;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		border: 1px solid gray;
		font-size: 0.8rem;
		background: rgb(158, 14, 14);
	}

	#menu {
		max-height: 50px;
		max-width: 50px;
		vertical-align: middle;
	}

	#user-menu:hover .submenu {
		display: block;
	}

	#user-actions {
		list-style: none !important;
		padding: 0;
		margin-left: auto;
		background: rgb(158, 14, 14);
	}
}

.black {
	background: rgb(36, 34, 34);
}

#side-menu {
	height: 100%;
	width: 80%;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 10px;

	#user-actions {
		list-style: none;
		padding-left: 0;
	}

	li {
		line-height: 1.6;
	}

	li:active {
		font-weight: bold;
	}

	.submenu ul {
	}
}

#side {
	height: 100%;
	width: 80%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(231, 38, 38);
	z-index: 9999;
}
