$font-outline: rgb(87, 10, 10);

$desktop: 450px;

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

#container {
	position: relative;

	#banner {
		img {
			display: inline-block;
			width: 100%;
		}

		#banner-text {
			position: absolute;
			top: 15%;
			right: 2.5%;
			text-align: right;
			font-family: 'Exo', sans-serif;
			color: rgba(167, 87, 12, 0.952);
			line-height: 1.6;

			#company-name {
				font-weight: bold;
			}
			p {
				margin: 0;
				text-decoration: underline;
			}

			h1 {
				margin: 0;
				font-size: 1.7rem;
			}
		}
	}
}
