$font-outline: rgb(87, 10, 10);
$outline-border: 0.5px;
#container {
	position: relative;
	#company-name {
		text-align: center;
		font-family: 'Josefin Slab', serif;
		position: absolute;
		color: rgb(228, 212, 212);
		top: 0;
		right: 2.5%;
		text-shadow: -$outline-border -$outline-border 0 $font-outline, $outline-border -$outline-border 0 $font-outline,
			-$outline-border $outline-border 0 $font-outline, 1px 1px 0 $font-outline;
	}

	#banner {
		img {
			display: inline-block;
			width: 100%;
		}
	}
}
