.form {
	max-width: 50%;
	margin: auto;
	line-height: 1.6;
}

.form input {
	display: block;
}

.form button {
	margin-top: 10px;
	display: block;
	background: rgb(39, 39, 236);
	color: white;
	border: 0.2rem solid rgb(51, 78, 90);
}

.form button:active {
	opacity: 0.2;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}
