a {
	color: inherit;
	text-decoration: none;
}

/* 
	General Stuff
*/

.hidden {
	display: none;
}
.visible {
	display: block;
}

.flex-right {
	display: flex;
	justify-content: flex-end;
}

.underline {
	text-decoration: underline;
}

input,
textarea,
select,
button {
	border: 1px solid #cccccc !important;
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
	-moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
	box-sizing: border-box;
}

.link {
	color: blue;
}

.right-text {
	text-align: right;
}

.center-text {
	text-align: center;
}

#root {
	min-height: 100vh;
	height: 100%;
	.App {
		min-height: 100vh;
		height: 100%;

		#content {
			min-height: 75vh;
		}

		#footer {
			min-height: 15vh;
			background: rgb(32, 29, 29);
			color: white;
			ul {
				list-style: none;
			}
		}
	}
}
